In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('train_ml.csv')

In [4]:
df.isnull().sum()

Loan_ID                        0
Loan_Amount_Requested          0
Length_Employed             5393
Home_Owner                 18558
Annual_Income              18409
Income_Verified                1
Purpose_Of_Loan                1
Debt_To_Income                 1
Inquiries_Last_6Mo             1
Months_Since_Deliquency    64831
Number_Open_Accounts           1
Total_Accounts                 1
Gender                         1
Interest_Rate                  1
dtype: int64

In [5]:
df.shape

(120432, 14)

In [9]:
uniques = [[x, len(df[x].unique())] for x in df.columns]

In [10]:
uniques

[['Loan_ID', 120432],
 ['Loan_Amount_Requested', 1265],
 ['Length_Employed', 12],
 ['Home_Owner', 6],
 ['Annual_Income', 9526],
 ['Income_Verified', 4],
 ['Purpose_Of_Loan', 15],
 ['Debt_To_Income', 3915],
 ['Inquiries_Last_6Mo', 10],
 ['Months_Since_Deliquency', 116],
 ['Number_Open_Accounts', 59],
 ['Total_Accounts', 100],
 ['Gender', 3],
 ['Interest_Rate', 4]]